@media screen and (max-width:700px) {
  .drawer {
    display: none;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
  }

.drawer.open {
  -webkit-transform: translate(-5%, 0);
  transform: translate(-5%, 0);
}
