html, body {
  height: 100%; margin: 0; padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.col1 {
  width: 30%;
  margin: 0;
  padding: 0;
}
.col2 {
  width: 70%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
